body {
    font-family: Monospace, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
  background-color: #c83030;
  padding: 20px;
  text-align: center;
}

header img {
    width: 370px; 
    height: 170px;
}

nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: orangered;
}

.contenedor-login {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.contenedor-login h2 {
    text-align: center;
    margin-bottom: 40px;
    color: black;
    font-weight: inherit;

}

.contenedor-login label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.contenedor-login input[type="email"], .contenedor-login input[type="password"] {
    width: 92%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid red;
}

.contenedor-login button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: orangered; 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contenedor-login button[type="submit"]:hover {
    background-color: red; 
}

a {
    color: orangered;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #c83030;
    padding: 40px;
    color: white;
}