body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 35px;
}

table th, table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #ff9500; 
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

table tbody tr:nth-child(even) {
    background-color: #fff3e2; 
}

.button {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.button.edit {
    background-color: #059e00; 
}

.button.edit:hover {
    background-color: #059e00;
}

.button.delete {
    background-color: #dc3545; 
}

.button.delete:hover {
    background-color: #c82333;

}

a.btn.rpt {
    background-color: orange; 
    color: white;
    cursor: pointer;
}